<!-- Login form contents -->
    <div class="row content">
        <div class="col-md-4 col-md-offset-4">
            <div ng-bind-html="display.errorMessage"></div>
            <form name="loginForm" role = "form" ng-submit="loginUser()">
                <div class = "form-group">
                    <label>Email: <br><input type="email" ng-model="formFields.email" name="email" required></label>
                    <span class="formError" ng-show="loginForm.email.$touched && loginForm.email.$invalid">
                        <span ng-show="loginForm.email.$error.email">*Invalid email address*</span>
                    </span>
                    <br>
                    <label>Password: <br><input type="password" ng-model="formFields.password" name="password" required></label>
                </div>
                <button type = "submit" class = "btn btn-primary" ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid">
                    Login
                </button>
            </form>
        </div>
    </div>