<!-- The navigation bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" id="logo" ng-click="toHomepage()">MyWay</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <form id = "profile-button" action="profile.html" method="get" target="_blank">
                        <input type="hidden" name='user' value={{user.userid}}>
                        <input type='submit' value='My Profile'>
                    </form>
                    <!--
                      Below we include the Login Button social plugin. This button uses
                      the JavaScript SDK to present a graphical Login button that triggers
                      the FB.login() function when clicked.
                    -->
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" data-auto-logout-link="true">
                    </fb:login-button>
                    <div id="username"></div>
                </ul>
            </div>
        </div>
    </nav>
