<!-- Search contents -->
    <div class="row content">
        <div class="col-sm-3">
            <div class="well" id="search-filters">
                <form role = "form" ng-submit="toFilter()">
                    <div class = "form-group">
                        <h4>Categories: </h4>
                        <div class="radio">
                            <label><input type="radio" ng-model="formFields.category" value="automotive">Automotive</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formFields.category" value="beauty-and-spas">Beauty and Spas</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formFields.category" value="food-and-drink">Food and Drink</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formFields.category" value="health-and-fitness">Health and Fitness</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formFields.category" value="home-improvement">Home Improvement</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formFields.category" value="local-services">Local Services</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formFields.category" value="shopping">Shopping</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="formFields.category" value="things-to-do">Other Activities</label>
                        </div>
                    </div>
                    <div class = "form-group">
                        <h4>Price Range: </h4>
                        <label>Minimum $<input type = "text" ng-model="formFields.minPrice" class = "form-control"></label>
                        <label>Maximum $<input type = "text" ng-model="formFields.maxPrice" class = "form-control"></label>
                    </div>
                    <div class = "form-group">
                        <h4>Dates: </h4>
                        <label>Start date <input type="date" ng-model="formFields.startDate" class = "form-control"></label>
                        <label>End date <input type = "date" ng-model="formFields.endDate" class = "form-control"></label>
                    </div>
                    <button type = "submit" class = "btn btn-default">
                        <span class="glyphicon glyphicon-refresh"></span> Refresh Results
                    </button>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            <display content="display.searchResults"></display>
        </div>
    </div>