* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Trebuchet MS", 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
  display: block;
  height: 85px;
  border-bottom: solid silver 2px;
}

#logo {
  font-size: 200%;
  padding: 2% 2% 0 2%;
  float: left;
}

#search_bar {
  margin: 0 auto;
  padding: 2% 2% 0 2%;
}

#search_bar input{
  font-size: 120%;
  vertical-align: top;
  display:inline-block;
  padding-left: 0.5%;
  height: 30px;
}

#user {
  padding: 2% 3% 0 3%;
  float: right;
}

#search_filter{
  float: left;
  width: 150px;
  padding: 2% 2%;
}

#search_filter label.filterBy {
  display: block;
  padding-top: 10%;
}

#search_filter input {
  margin: 2% 5%;
}

#submit_button {
  padding: 3% 5%;
  background: silver;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 100%;
}

#search_results{
  display: block;
  padding: 3% 2%;
}

#search_results figure{
  display: block;
  width: 300px;
  height: 300px;
  float: left;
  background-color: whitesmoke;
  border: 5px solid whitesmoke;
  margin: 5px;
}
